html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 5px 25px;
  font-size: 1.2em;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

article p {
  text-align: justify;
}
