html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 5px 25px;
  font-size: 1.2em;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

article p {
  text-align: justify;
  font-size: 1.4em;
}


@media screen and (min-width: 768px) {

  body {
    margin: 3% 8%;
    font-size: 1.4em;
  }
  
  h1 {
    font-size: 1.6em;
  }
  
  h2 {
    font-size: 1.4em;
  }
  
  header {
    display: flex;
  }

  header p {
    font-weight: bold;
    font-size: 30px;
  }

  nav {
    width: 100%;
  }
  
  .ul-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 60%;
    align-items: center;
  }

  #asides {
    display: flex;
    justify-content: space-around;
  }

  article p {
    text-align: justify;
    font-size: 1.22em;
  }

}

@media screen and (min-width: 1400px) {
  body {
    margin: 3% 5%;
  }
  
  h1 {
    font-size: 1.4em;
  }
  
  h2 {
    font-size: 1.2em;
  }
  
  header {
    display: flex;
  }

  nav {
    width: 100%;
  }
  
  .ul-header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    height: 60%;
  }

  header li {
    width: 10%;
  }

  header p {
    font-size: 35px;
    font-weight: bold;
    width: 50%;
  }

  #asides {
    display: flex;
    justify-content: flex-start;
    margin: 5% auto;
  }

  .aside-one {
    margin-right: 10%;
  }

  article p {
    text-align: justify;
    font-size: 1em;
    max-width: 70%;
  }
}